
.diagram {
    position: relative;
    width: 125px;
    height: 125px;
    margin-right: 25px;
    &__piece {
        position: absolute;
    }

    &__text {
        color: $purple;
        position: absolute;
        top: 50%;
        left: 50%;
        display: flex;
        flex-direction: column;
        text-align: center;
        transform: translate(-50%, -50%);
    }

    &__number {
        font-size: 24px;
    }
    &__word {
        font-size: 15px;
    }
}
