.header {
    display: flex;
    align-items: center;
    height: 70px;
    background-color: white;
    &__container {
        display: flex;
        align-items: center;
    }
    &__login-btn {
        margin-right: 18px;
    }
}