.input {
    position: relative;
    padding: 15px;
    border: 1px solid $dark-shade25;
    border-radius: 4px;
    width: 100%;
    outline: none;
    &:focus {
        border: 1px solid #bc9cff;
    }
}


