.logo {
    width: 105px;
    height: 40px;
    margin-right: auto;
    cursor: pointer;
}

.material-icons-outlined {
font-family: Material Icons;
font-style: normal;
font-weight: normal;
font-size: 24px;
line-height: 20px;
// /* identical to box height */

display: flex;
align-items: center;
text-align: center;
}