.nav {
    display: flex;
    align-items: center;
    margin-right: 20px;
    &__list, &__item {
        display: flex;
    }
    &__item {
        color: $dark-shade50;
        margin-right: 20px;
        cursor: pointer;
    }
    &__item:last-child {
        margin: 0;
    }
}
