.social {
    width: 24px;
    height: 24px;
    
    &--facebook {
        background: svg-load('facebook.svg', fill='url(#paint0_linear_183709)', width=100%, height=100% ) center no-repeat;
    }

    &--twitter {
        background: svg-load('twitter.svg', fill='url(#paint0_linear_18370_8)', width=100%, height=100% ) center no-repeat;
    }

    &--insta {
        background: svg-load('insta.svg', fill='url(#paint0_linear_18370_10)', width=100%, height=100% ) center no-repeat;
    }
}
