.dropdown 
    .dropdown__option 
        .dropdown__name ВЗРОСЛЫЕ
        button(class = "dropdown__bttn-pls" disabled) -
        .dropdown__value 0
        button.dropdown__bttn-pls +
    .dropdown__option 
        .dropdown__name ДЕТИ
        button(class = "dropdown__bttn-mns" disabled) -
        .dropdown__value 0
        button.dropdown__bttn-pls +    
    .dropdown__bttns-row
        button.dropdown__apply применить
        button.dropdown__clear очистить    