
form(class="main-section__card card", id='loginForm')
    .card__title.title Войти
    .card__row 
        input(class = 'card__input input', placeholder = 'Email')
    .card__row
        input(class = 'card__input input', placeholder = 'Пароль')
    .card__row    
        a(class="card__button button button--purple" href="login.html") Войти
            span.material-icons arrow_forward
    .card__row.card__row--align 
        .card__text Нет аккаунта на Toxin?
        a(class='card__button button button--white' href="registration.html") Создать        