include ./sections/mixins.pug

doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title MegaLamp | main page
  body
    .wrapper 

      include ./sections/header

      main.main-section.main-section--landing
        .main-section__container.container

          include ./sections/welcome_card
          .main-section__extra-text 
            p Лучшие номера для вашей работы, отдыха и просто вдохновения
             

        
            
      include ./sections/footer


            
          
   


           
                

 
